body {
    background: lightblue;
}
.face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    margin: auto;
    width: 65px;
    background: black;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    margin: auto;
    width: 100px;
    background: white;
    height: 75px;
    z-index: -1;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.body {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    width: 115px;
    background: white;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    right: 230px;
    bottom: 25px;
    margin: auto;
    width: 100px;
    background: white;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    animation: hand 1s linear infinite;
}
.right {
    position: absolute;
    top: 50px;
    left: 165px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    background: white;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    transform: rotateZ(90deg);
}
.eye1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 25px;
    bottom: 150px;
    margin: auto;
    background: repeating-linear-gradient(red 70%, #002966 80%, red);
    height: 10px;
    width: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.eye2 {
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    bottom: 150px;
    margin: auto;
    background: repeating-linear-gradient(red 70%, #002966 80%, red);
    height: 10px;
    width: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
@keyframes hand{
    0% {
        transform: translateY(-40px) rotateZ(45deg);
    }
    50% {
        transform: translateY(0px) rotateZ(-0deg);
    }
    100% {
        transform: translateY(-40px) rotateZ(45deg);
    }
}